<launch>
  <!-- Trajectory -->
  <arg name="initial_state" default="[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]" />
  <arg name="waypoints" default="[[0.0, 0.0], [0.0, 0.0]]" />
  <arg name="shipname" default="ship0" />
  <arg name="u_d" default="3.0" />
  <arg name="size" default="8.0" />
  <!-- Current and wind -->
  <!-- Waves -->

  <!-- Obstacle ship -->
  <include file="$(find asv_simulator)/launch/obstSimulator.launch">
        <!-- <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/test2.yaml" /> -->
        <arg name="global_planner" value="None" />
        <arg name="use_vo" value="False" />
        <arg name="vessel_model_file" value="$(find asv_simulator)/config/models/ship1.urdf" />
        <arg name="namespace" value="obstacles/$(arg shipname)" />
        <arg name="shipname" value="$(arg shipname)" />
        <arg name="initial_state" value="$(arg initial_state)" />
        <arg name="waypoints" value="$(arg waypoints)" />
        <arg name="u_d" value="$(arg u_d)" />
        <arg name="size" value="$(arg size)" />
      </include>
</launch>
