<launch>

  <arg name="use_sim_time" value="false" />
  <arg name="trigger_shutdown" value="0" />
  <arg name="coast_margin" value="10" />

  <rosparam param="/use_sim_time" subst_value="True">$(arg use_sim_time)</rosparam>

  <group if="$(arg use_sim_time)">
    <node pkg="asv_referee"
          name="chronos_node"
          type="asv_clock_node.py"
          respawn="false"
          output="screen" />
  </group>

  <node pkg="asv_referee"
        name="referee_node"
        type="asv_referee_node.py"
        respawn="false"
        output="screen"
        required="true">
    <rosparam param="shutdown" subst_value="True">$(arg trigger_shutdown)</rosparam>
  </node>


  <include file="$(find asv_simulator)/launch/asvGp.launch">
    <arg name="u_d" value="5.0" />
    <arg name="waypoint_file" value="$(find channeling)/config/param/wps.yaml" />
    <arg name="initial_state" value="[600.0, 0.0, 1.56, 0.,0.,0.]" />
  </include>

  <include file="$(find asv_common)/launch/mapserver.launch">
    <arg name="mapfile" value="$(find asv_common)/config/maps/mozambique.yaml" />
  </include>

  <node pkg="asv_map_processing"
        name="map_processing_node"
        type="asv_map_processing_node"
        respawn="false"
        output="screen" >
    <rosparam param="coast_margin" subst_value="True">$(arg coast_margin)</rosparam>
  </node>

  <include file="$(find asv_obstacle_tracker)/launch/default.launch"/>

  <!-- Obstacle ship -->
  <include file="$(find asv_simulator)/launch/obstSimulator.launch">
        <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/test.yaml" />
        <arg name="global_planner" value="None" />
        <arg name="use_vo" value="False" />
        <arg name="vessel_model_file" value="$(find asv_simulator)/config/models/ship1.urdf" />
        <arg name="namespace" value="obstacles/ship1" />
        <arg name="shipname" value="ship1" />
        <arg name="initial_state" value="[760.0, 850.0, -1.56, 1.,0.,0.]" />
      </include>

  <!-- Obstacle ship -->
  <include file="$(find asv_simulator)/launch/obstSimulator.launch">
        <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/test2.yaml" />
        <arg name="global_planner" value="None" />
        <arg name="use_vo" value="False" />
        <arg name="vessel_model_file" value="$(find asv_simulator)/config/models/ship1.urdf" />
        <arg name="namespace" value="obstacles/ship2" />
        <arg name="shipname" value="ship2" />
        <arg name="initial_state" value="[580.0, 110.0, 0, 1.,0.,0.]" />
      </include>

  <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find asv_simulator)/config/rviz/map_and_proc_map.rviz" />

</launch>
