<launch>

  <arg name="use_sim_time" value="false" />
  <arg name="trigger_shutdown" value="0" />
  <arg name="coast_margin" value="0" />

  <rosparam param="/use_sim_time" subst_value="True">$(arg use_sim_time)</rosparam>

  <!-- <group if="$(arg use_sim_time)">
    <node pkg="asv_referee"
          name="chronos_node"
          type="asv_clock_node.py"
          respawn="false"
          output="screen" />
  </group> -->

  <node pkg="asv_referee"
        name="referee_node"
        type="asv_referee_node.py"
        respawn="false"
        output="screen"
        required="true">
    <rosparam param="shutdown" subst_value="True">$(arg trigger_shutdown)</rosparam>
  </node>


  <include file="$(find asv_simulator)/launch/test.launch">
    <arg name="u_d" value="4.1" />
    <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/mozambique.yaml" />
    <arg name="initial_state" value="[661.0, 791.0, -2.34, 0.,0.,0.]" />
  </include>

  <include file="$(find asv_system)/launch/mapserver.launch">
    <arg name="mapfile" value="$(find asv_system)/config/maps/chenal_toulon.yaml" />
  </include>

  <node pkg="asv_map_processing"
        name="map_processing_node"
        type="asv_map_processing_node"
        respawn="false"
        output="screen" >
    <rosparam param="coast_margin" subst_value="True">$(arg coast_margin)</rosparam>
  </node>

  <include file="$(find asv_obstacle_tracker)/launch/default.launch"/>

  <!-- Obstacle ship -->
  <include file="$(find asv_simulator)/launch/test_obst.launch">
        <!-- <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/test.yaml" /> -->
        <arg name="u_d" value="3.0" />
        <!-- <arg name="waypoints" value="[[1325.0, 15.0], [1075.0, 345.0], [705.0, 420.0]]" /> -->
        <arg name="waypoints" value="[[957,363], [704,400], [603,352], [523,397], [531, 675]]" />
        <arg name="global_planner" value="None" />
        <arg name="use_vo" value="False" />
        <arg name="vessel_model_file" value="$(find asv_simulator)/config/models/ship1.urdf" />
        <arg name="namespace" value="obstacles/ship1" />
        <arg name="shipname" value="ship1" />
        <arg name="initial_state" value="[957, 363, 3.14, 0.,0.,0.]" />
      </include>

  <!-- Obstacle ship -->
  <include file="$(find asv_simulator)/launch/test_obst.launch">
        <!-- <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/test.yaml" /> -->
        <arg name="u_d" value="3.0" />
        <!-- <arg name="waypoints" value="[[1325.0, 15.0], [1075.0, 345.0], [705.0, 420.0]]" /> -->
        <arg name="waypoints" value="[[1200,363], [704,400], [603,352], [523,397], [531, 675]]" />
        <arg name="global_planner" value="None" />
        <arg name="use_vo" value="False" />
        <arg name="vessel_model_file" value="$(find asv_simulator)/config/models/ship1.urdf" />
        <arg name="namespace" value="obstacles/ship2" />
        <arg name="shipname" value="ship2" />
        <arg name="initial_state" value="[1200, 363, 3.14, 0.,0.,0.]" />
      </include>

  <!-- Obstacle ship -->
  <include file="$(find asv_simulator)/launch/test_obst.launch">
        <!-- <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/test.yaml" /> -->
        <arg name="u_d" value="3.0" />
        <!-- <arg name="waypoints" value="[[1325.0, 15.0], [1075.0, 345.0], [705.0, 420.0]]" /> -->
        <arg name="waypoints" value="[[1000,1170], [1000,-300]]" />
        <arg name="global_planner" value="None" />
        <arg name="use_vo" value="False" />
        <arg name="vessel_model_file" value="$(find asv_simulator)/config/models/ship1.urdf" />
        <arg name="namespace" value="obstacles/ship3" />
        <arg name="shipname" value="ship3" />
        <arg name="initial_state" value="[1000,1200, -1.56, 0.,0.,0.]" />
      </include>

  <!-- Obstacle ship -->
  <include file="$(find asv_simulator)/launch/test_obst.launch">
        <!-- <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/test.yaml" /> -->
        <arg name="u_d" value="3.0" />
        <!-- <arg name="waypoints" value="[[1325.0, 15.0], [1075.0, 345.0], [705.0, 420.0]]" /> -->
        <arg name="waypoints" value="[[1200,-600], [1200,300]]" />
        <arg name="global_planner" value="None" />
        <arg name="use_vo" value="False" />
        <arg name="vessel_model_file" value="$(find asv_simulator)/config/models/ship1.urdf" />
        <arg name="namespace" value="obstacles/ship4" />
        <arg name="shipname" value="ship4" />
        <arg name="initial_state" value="[1200,-600, 1.56, 0.,0.,0.]" />
      </include>

  <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find asv_simulator)/config/rviz/toulon.rviz" />

  <!-- <node pkg="rosbag"
        type="record"
        name="rosbag_record"
        args="-O /home/soubi/Documents/SEAOWL//home/soubi/Documents/SEAOWL/nonor_ws/src/ros_asv_system/asv_system/bagfiles/mozambique.bag /asv/state /obstacles/ship1/state /obstacles/ship2/state /obstacle_states"
        /> -->

</launch>
